{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if not url_name %}
        <div class="alert alert-danger" role="alert">
            Error: URL-адрес не найден
        </div>
    {% else %}
        <h1>Сайт: {{ url_name }}</h1>
        
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ url_id }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ url_name }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td style="white-space: nowrap;">{{ url_created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="{{ url_for('id_check', id=url_id) }}">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover" data-test="checks">
                <thead>
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">Код ответа</th>
                        <th style="text-align: center;">h1</th>
                        <th style="text-align: center;">Title</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for check in checks %}
                    <tr>
                        <td>{{ check.id }}</td>
                        <td>{{ check.status_code }}</td>
                        <td>{{ check.h1 }}</td>
                        <td>{{ check.title }}</td>
                        <td>{{ check.description }}</td>
                        <td style="white-space: nowrap;">{{ check.created_at.strftime('%Y-%m-%d') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
